@media all and (min-width: 480px) {
          .Login {
            padding: 60px 0;
          }
        
           .post {
            margin: 1 auto;
            border-style: solid;
            border-width: thin;
            border-color: black;
            width: 320px;
            height: 320px;
          }

          h3 {
            font-size: 0.5em;
            margin: 0;
            
          }

          button{
                    color: white;
                    background-color: #0095f6;
                    width: 100px;
          }

          .post > img {
            width: auto;
            height : auto;
            border: 1px solid black;
            max-height: 80%;
            max-width: 80%;
          }
        }